[submodule "emacs.d/plugins/haskell-mode"]
	path = emacs.d/plugins/haskell-mode
	url = git://github.com/haskell/haskell-mode.git
[submodule "emacs.d/plugins/er"]
	path = emacs.d/plugins/er
	url = git://github.com/magnars/expand-region.el.git
[submodule "emacs.d/plugins/emacs-color-theme-solarized"]
	path = emacs.d/plugins/emacs-color-theme-solarized
	url = git@github.com:sellout/emacs-color-theme-solarized.git
[submodule "emacs.d/plugins/solarized-emacs"]
	path = emacs.d/plugins/solarized-emacs
	url = git@github.com:bbatsov/solarized-emacs.git
[submodule "emacs.d/el-get-haskell"]
	path = emacs.d/el-get-haskell
	url = git://github.com/dysinger/el-get
	branch = haskell
